<!DOCTYPE html>
<html>
<head>
<title>Events</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<div id="nav">{{ user }}</p>
{% for item in form %}
  {% if item.errors %}
    {% for error in item.errors %}
      <div>{{ item.label }}: {{ error }}</div>
    {% endfor %}
  {% endif %}
{% endfor %}
</div>
<form action="/add" method="POST" accept-charset="utf-8" novalidate>
<table>
{% for item in form %}
  <tr>
  <td>{% if item.name != "csrf_token" and item.name != "submit" %}{{ item.label }}{% endif %}</td>
  <td>{{ item }}</td>
  </tr>
{% endfor %}
</table>
</form>
</body>
</html>
